.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &__title{
        width: 100%;
        font-size: 1.6em;
        line-height: 1;
        text-align: center;
        color: #cddaed;
        text-transform: uppercase;
    }

    &__button{
        padding-bottom: 20px;
        &--cancel,&--finish{
          margin-bottom: 3em;
        }
        &--cancel{
          background-color: #930734;
          color: #ccc;
        }

        &--finish{
          background-color: #585c9c;
          color: #ccc;
        }
    }
}

.tasknew{
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  margin-bottom: 0px !important;
  &__input{
    width: 85%;
  }

  &__add{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: #aea8d5;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 15px;
  margin-top: 30px;
  width: 100%;
}

.list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 6px;
  margin: 0;
  &__item{
    &--delete, &--check{
      width: 10%;
    }

    &--delete{
      color: #8e0c08;
      cursor: pointer;
    }

    &--check{
      padding-bottom: 5px;
    }

    &--task{
      width: 80%;
      color: #ccc;
    }
  }

  &__divider{
    margin-bottom: 20px;
  }

}

label {
  display: block;
  margin-bottom: 5px;
  color: #cddaed;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #4c5f93; 
  border-radius: 4px;
  background-color: #cddaed; 
  color: #120907; 
}