<div class="container">
    <section class="generic-section">
        <div class="header">
            <h2 class="header__title">Compra en el supermercado</h2>
            <img class="header__image" src="./../../../assets/images/codigo_facilito_task.png" >
        </div>
        <div class="form-group">
            <ul class="list_container">
                <li class="list">
                    <div class="list__item list__item--task"><p>Fideos</p></div>
                </li>
                <mat-divider class="list__divider"></mat-divider>
                <li class="list">
                    <div class="list__item list__item--task"><p>Café</p></div>
                </li>
                <mat-divider class="list__divider"></mat-divider>
                <li class="list">
                    <div class="list__item list__item--task"><p>Pan</p></div>
                </li>
                <mat-divider class="list__divider"></mat-divider>
            </ul>
        </div>   
        <a [routerLink]="['/taskblock']" class="register-link">Regresar</a>  
    </section>
</div>
